[submodule "emacs.d/lisp/haskell-mode"]
	path = emacs.d/lisp/haskell-mode
	url = https://github.com/craigcitro/haskell-mode.git
[submodule "emacs.d/lisp/soy-mode"]
	path = emacs.d/lisp/soy-mode
	url = https://github.com/toomore-such/soy-mode.git
[submodule "emacs.d/lisp/rcirc"]
	path = emacs.d/lisp/rcirc
	url = https://github.com/nealey/rcirc.git
[submodule "emacs.d/lisp/markdown-mode"]
	path = emacs.d/lisp/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "emacs.d/lisp/ghc-mod"]
	path = emacs.d/lisp/ghc-mod
	url = https://github.com/kazu-yamamoto/ghc-mod.git
[submodule "emacs.d/lisp/auto-complete"]
	path = emacs.d/lisp/auto-complete
	url = https://github.com/m2ym/auto-complete.git
[submodule "emacs.d/lisp/scratch-el"]
	path = emacs.d/lisp/scratch-el
	url = git@github.com:craigcitro/scratch-el.git
